<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/login" method="post">
      <label for="email">Email</label>
      <br />
      <input type="email" name="email" />
      <br />
      <label for="password">Password</label>
      <br />
      <input type="password" name="password" />
      <br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
